.poll{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.poll p{
    font-size: 12pt;
    text-transform: capitalize;

}

.poll input {
    width: 100%;
    height: 2rem;
}

