.card {
  max-width: 80vw;
  width: 400px;
  min-height: 30vh;
  height: fit-content;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.075),
    0px 20px 20px rgba(0, 0, 0, 0.041);
  margin: 3rem auto;
  /* border: 0px solid #b90236; */
}
